<div class="row">
  <div class="span12">

    <ul class="breadcrumb">
      <li>
        <%= link_to 'Home', :root %> <span class="divider">/</span>
      </li>
      <li class="active">
        All Collections
      </li>
    </ul>

    <% for collection in @collections %>
      <h2><%= link_to collection.name, collection %></h2>
      <ul class="thumbnails">
        <% for product in collection.products %>
          <li class="span2">
            <%= link_to(product, { 'class' => 'thumbnail' }) do %>
              <%= image_tag product.thumbnail, :alt => product.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>

</div>
