<div class="row">
  <div class="span12">

    <h2>All Collections</h2>

    <% for collection in @collections %>
      <h3><%= link_to collection.name, collection %></h3>
      <ul class="thumbnails">
        <% for product in collection.products %>
          <li class="span2">
            <%= link_to(product, { 'class' => 'thumbnail' }) do %>
              <%= image_tag product.thumbnail, :alt => product.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>

</div>
