<div class="row">
  <div class="span12">

    <ul class="breadcrumb">
      <li>
        <%= link_to 'Home', :root %> <span class="divider">/</span>
      </li>
      <li class="active">
        All Products
      </li>
    </ul>

    <% i = 0 %>
    <% for range in @ranges %>
      <h2><%= link_to range.name, range %></h2>
      <ul class="thumbnails">
        <% for product in range.products %>
          <li class="span2">
            <%= link_to(product, { 'data-target' => "#product#{i}", 'class' => 'thumbnail' }) do %>
              <%= image_tag product.thumbnail, :alt => product.name %>
            <% end %>
          </li>
          <% i = i + 1 %>
        <% end %>
      </ul>
    <% end %>

  </div>

</div>
