<div class="row">
  <div class="span12">

   <!-- <ul class="breadcrumb">
      <li>
        <%= link_to 'Home', :root %> <span class="divider">/</span>
      </li>
      <li class="active">
        All Products
      </li>
    </ul> -->

    <% for range in @ranges %>
      <ul class="thumbnails">
        <% for product in range.products %>
          <li class="span2">
            <%= link_to(product, { 'class' => 'thumbnail' }) do %>
              <%= image_tag product.thumbnail, :alt => product.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>

</div>
