<div class="row">
  <div class="span8">
  
  <h3>Buying Our Products on Etsy</h3>


<p> We sell our lovingly handmade products through the online marketplace at etsy.com.<p>

<p>Clicking the "Buy Now on etsy.com" button will take you directly to the product you are interested in on the Etsy website.<p>

 <div class="buy_button">
        <p><%= link_to('Buy Now on etsy.com', 'http://www.etsy.com/shop/BrightonBelleGifts', { :class => 'btn btn-large btn-primary', :target => '_blank' }) %></p>
      </div>

  
  </div>
 
  <div class="span4">
  
<ul class="thumbnails">
      <li>
        <%= link_to product_ranges_url, :class => 'thumbnail' do %>
        <% image_tag 'pinkeiffel001.jpg', :alt => 'Butterfly Bag', :size => '360x254' %>
        <% end %>
      </li>
    </ul>
    
    </div>
    
    </div>