<div class="row">
  <div class="span8">

    <h3>Contact</h3>
    <p>We would love to hear from you. If you have any questions please contact us at <%= link_to 'info@brightonbelles.com', 'mailto:info@brightonbelles.com' %></p>
	<p>For any queries on orders you have placed email us at <%= link_to 'orders@brightonbelles.com', 'mailto:orders@brightonbelles.com' %></p>

  </div>

  <div class="span4">

    <ul class="thumbnails">
      <li>
        <%= link_to product_ranges_url, :class => 'thumbnail' do %>
        <% image_tag 'butterflypurse002.jpg', :alt => 'Butterfly Bag', :size => '360x254' %>
        <% end %>
      </li>
    </ul>

  </div>
</div>
