<div id="myCarousel" class="carousel">
  <div class="carousel-inner">
    <div class="active item">
      <%= link_to @carousel_products[0] do %>
        <% image_tag 'widepurse01.jpg', :alt => 'Butterfly Handbag' %>
      <% end %>
      <div class="carousel-caption">
        <h4>Our Amazing Butterfly Handbag!</h4>
        <p>Carry your belongings in style with this amazing butterfly patterned handbag</p>
      </div>
    </div>
    <div class="item">
      <%= link_to @carousel_products[1] do %>
        <% image_tag 'frontcushions.jpg', :alt => 'Cushions' %>
      <% end %>
      <div class="carousel-caption">
        <h4>A Selecion Of Our Scatter Cushions</h4>
        <p>The perfect addition to any room</p>
      </div>
    </div>
    <div class="item">
      <%= link_to @carousel_products[2] do %>
        <% image_tag 'fronttweed.jpg', :alt => 'Tweed Handbag' %>
      <% end %>
      <div class="carousel-caption">
        <h4>Our Gorgeous Raspberry Tweed Handbag</h4>
        <p>The most fabulous handbag! </p>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="row">
  <div class="span2">
    <div id="facebook" data-likeurl="http://www.brightonbelles.com">[Facebook]</div>
  </div>
  <div class="span2">
    <div class="social-button twitter-follow">
      <a href="http://twitter.com/BellesBulletin" class="twitter-follow-button twitter-widget"
         data-width="160px" data-show-count="false">Follow @BellesBulletin</a>
    </div>
  </div>
  <div class="span2">
    <div class="social-button  pinterest-pinit">
      <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.brightonbelles.com&media=http%3A%2F%2Fwww.brightonbelles.com%2Fassets%2FIMG_2107.JPG&description=Brighton%20Belles%20-%20pretty%20things" class="pin-it-button" count-layout="horizontal">Pin It</a>
    </div>
  </div>
</div>
