<div class="row">
  <div class="span8">
    <div class="hero-unit" id="butterfly-handbag-hero">
      <h1>Online Store</h1>
      <h3>Carry your belongings in style!</h3>
      <a href="/products/14-butterfly-ipad-case" class="btn btn-primary btn-large">
        &nbsp;Shop Now&nbsp;
      </a>
    </div>
  </div>
  <div class="span4 homepage-product">
    <%= link_to products_url do %>
      <% image_tag 'pixel2butterflybag.png', :alt => 'Butterfly Bag' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span4 homepage-product">
    <%= link_to products_url do %>
      <% image_tag 'pixeltweedhandbag.png', :alt => 'Butterfly Bag' %>
    <% end %>
  </div>
  <div class="span4 homepage-product">
    <%= link_to products_url do %>
      <% image_tag 'pixelbutterflypurse002.png', :alt => 'Butterfly Bag' %>
    <% end %>
  </div>
  <div class="span4">
    <form class="well">
      <p>Join our mailing list to hear about new products and special offers!</p>
      <input type="text" id="signup-email" placeholder="Enter your email address" name="EMAIL">
      <button type="submit" class="btn btn-primary" name="subscribe" value="Subscribe">Sign Up</button>
    </form>
  </div>
</div>  
 
<div class="row">
</div>

<!--<div id="social">
  <div id="facebook" data-likeurl="http://www.brightonbelles.com">
    <a href="http://www.facebook.com/BrightonBelles">facebook.com/BrightonBelles</a>
  </div>
  <a href="http://twitter.com/BellesBulletin" class="twitter-follow-button twitter-widget"
     data-width="160px" data-show-count="false">Follow @BellesBulletin</a>
  <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.brightonbelles.com&amp;media=<%= u asset_url('triplecushionstackbackroung.jpg') %>&amp;description=Brighton%20Belles%20-%20Pretty%20Things!" class="pin-it-button" data-count-layout="horizontal">Pin It</a>
</div>-->
