<div class="row">
  <div class="span8">

    <ul class="breadcrumb">
      <li>
        <a href="/">Home</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="#">Products</a> <span class="divider">/</span>
      </li>
      <li class="active">Cushions</li>
    </ul>
    
    <ul class="thumbnails">
      <li class="span2">
        <a href="/product" data-target="#product1" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="/product" data-target="#product2" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="/product" data-target="#product3" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="/product" data-target="#product4" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="/product" data-target="#product5" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="/product" data-target="#product6" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="/product" data-target="#product7" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span2">
        <a href="/product" data-target="#product8" class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div class="span4">
    <div class="tab-content">
      <div class="tab-pane active" id="product1">
        <h3>Product One</h3>
        <p>Stuff about this product</p>
      </div>
      <div class="tab-pane" id="product2">
        <h3>Product Two</h3>
        <p>Stuff about this product</p>
      </div>
      <div class="tab-pane" id="product3">
        <h3>Product Three</h3>
        <p>Stuff about this product</p>
      </div>
      <div class="tab-pane" id="product4">
        <h3>Product Four</h3>
        <p>Stuff about this product</p>
      </div>
      <div class="tab-pane" id="product5">
        <h3>Product Five</h3>
        <p>Stuff about this product</p>
      </div>
      <div class="tab-pane" id="product6">
        <h3>Product Six</h3>
        <p>Stuff about this product</p>
      </div>
      <div class="tab-pane" id="product7">
        <h3>Product Seven</h3>
        <p>Stuff about this product</p>
      </div>
      <div class="tab-pane" id="product8">
        <h3>Product Eight</h3>
        <p>Stuff about this product</p>
      </div>
    </div>
  </div>

</div>
