#headerimage {
    height: 180px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-image: url(/assets/pier940.jpg);
    
    h1 {
	font-family: 'Lusitana', serif;
        color: #DF4225;
        font-size: 44px;
        padding-top: 30px;
        padding-left: 50px;
    }
}

@media (min-width: 1200px) {
    #headerimage {
        background-image: url(/assets/pier1170.jpg);
        h1 {
            font-size: 48px;
            padding-top: 30px;
            padding-left: 50px;
        }
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    #headerimage {
        background-image: url(/assets/pier724.jpg);
        h1 {
            font-size: 36px;
            padding-top: 16px;
            padding-left: 50px;
        }
    }
}

@media (max-width: 768px) {
    #headerimage {
        background-image: url(/assets/pier724.jpg);
        h1 {
            font-size: 36px;
            padding-top: 16px;
            padding-left: 50px;
        }
    }
}

