#butterfly-handbag-hero {

    @media (min-width: 1200px) {
        background: url('/assets/buttipad1thumb.png');
        background-repeat: no-repeat;
        background-position: right; 
        background-color: #d4eeed;
    }

    background-color: #d4eeed;
    color: #3A4E4E;

    h1 {
        font-family: 'Poiret One', cursive;
        padding-bottom: 17px;
    }

    h3 {
        padding-bottom: 6px;
    }
}

.homepage-product {
    background-color: #d4eeed;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

// fix signup form vertical alignment
input#signup-email {
    margin-bottom: 0px;
    width: 180px;
}

